* {margin:0;padding:0}

[data-tile] {
    width: 300px;
    height: 242px;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    *display: inline;
    zoom: 1;
    font-size: medium;
    margin: 0.35em;
    padding: 0.25em;
    background: #cacaca;
}

#Spanner {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
}

h1 {text-align:center;margin:0 0 0.5em 0;color:#fff;}

#Yield {
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    margin: 1em;
}

body {
    background: #444;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.success {
    background: #006600;
    color: #fff;
}

.error {
    background: #cc0000;
    color: #fff;
}

.warning {
    background: FF8C00;
    color: #fff;
}
